HELP.md
/backend/target/
!.mvn/wrapper/maven-wrapper.jar
!**/backend/src/main/**/target/
!**/backend/src/test/**/target/
/.metadata/*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/backend/build/
!**/backend/src/main/**/build/
!**/backend/src/test/**/build/

### VS Code ###
.vscode/
/backend/src/test/java/gr/knowledge/internship/activityoncloud/ActivityoncloudApplicationTests.java
/.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties
/mvnw
/mvnw.cmd
/backend/src/main/resources/application.properties

### FrontEnd ###
/frontend/node_modules
/frontend/src/node_modules
*.txt
