HELP.md
/backend/target/
!.mvn/wrapper/maven-wrapper.jar
!**/backend/src/main/**/target/
!**/backend/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/backend/build/
!**/backend/src/main/**/build/
!**/backend/src/test/**/build/

### VS Code ###
.vscode/
/backend/src/test/java/gr/knowledge/internship/activityoncloud/ActivityoncloudApplicationTests.java
/.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties
/mvnw
/mvnw.cmd
/backend/src/main/resources/application.properties

### FrontEnd ###
/frontend/node_modules
/.metadata/.lock
/.metadata/.log
/.metadata/.plugins/org.eclipse.core.resources/.history/11/20fab1399f00001f1013d1949c90eb40
/.metadata/.plugins/org.eclipse.core.resources/.history/2e/6011e3389f00001f1013d1949c90eb40
/.metadata/.plugins/org.eclipse.core.resources/.history/2f/80e4b2399f00001f1013d1949c90eb40
/.metadata/.plugins/org.eclipse.core.resources/.history/39/40c3e2389f00001f1013d1949c90eb40
/.metadata/.plugins/org.eclipse.core.resources/.history/7a/d0b1e1389f00001f1013d1949c90eb40
/.metadata/.plugins/org.eclipse.core.resources/.history/a1/206bb4399f00001f1013d1949c90eb40
/.metadata/.plugins/org.eclipse.core.resources/.history/a3/6096b2399f00001f1013d1949c90eb40
/.metadata/.plugins/org.eclipse.core.resources/.history/b/104ee2389f00001f1013d1949c90eb40
/.metadata/.plugins/org.eclipse.core.resources/.history/b9/b059b3399f00001f1013d1949c90eb40
/.metadata/.plugins/org.eclipse.core.resources/.history/db/c020c9389f00001f1013d1949c90eb40
/.metadata/.plugins/org.eclipse.core.resources/.history/f3/80eee0389f00001f1013d1949c90eb40
/.metadata/.plugins/org.eclipse.core.resources/.history/f7/5079e0389f00001f1013d1949c90eb40
/.metadata/.plugins/org.eclipse.core.resources/.history/f7/e049e4389f00001f1013d1949c90eb40
/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.syncinfo.snap
/.metadata/.plugins/org.eclipse.core.resources/.projects/backend/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/backend/.markers.snap
/.metadata/.plugins/org.eclipse.core.resources/.projects/backend/.syncinfo.snap
/.metadata/.plugins/org.eclipse.core.resources/.projects/backend/org.eclipse.egit.core/GitProjectData.properties
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/.metadata/.plugins/org.eclipse.core.resources/0.snap
/.metadata/.plugins/org.eclipse.jdt.core/1061422674.index
/.metadata/.plugins/org.eclipse.jdt.core/1163386715.index
/.metadata/.plugins/org.eclipse.jdt.core/1246018588.index
/.metadata/.plugins/org.eclipse.jdt.core/1321786516.index
/.metadata/.plugins/org.eclipse.jdt.core/1347670168.index
/.metadata/.plugins/org.eclipse.jdt.core/1413124863.index
/.metadata/.plugins/org.eclipse.jdt.core/1420406417.index
/.metadata/.plugins/org.eclipse.jdt.core/1433313102.index
/.metadata/.plugins/org.eclipse.jdt.core/1476245916.index
/.metadata/.plugins/org.eclipse.jdt.core/1555073900.index
/.metadata/.plugins/org.eclipse.jdt.core/1574911598.index
/.metadata/.plugins/org.eclipse.jdt.core/1602070040.index
/.metadata/.plugins/org.eclipse.jdt.core/1698626161.index
/.metadata/.plugins/org.eclipse.jdt.core/1704538229.index
/.metadata/.plugins/org.eclipse.jdt.core/1710594167.index
/.metadata/.plugins/org.eclipse.jdt.core/1733764076.index
/.metadata/.plugins/org.eclipse.jdt.core/1755895833.index
/.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
/.metadata/.plugins/org.eclipse.jdt.core/1885380246.index
/.metadata/.plugins/org.eclipse.jdt.core/1900037079.index
/.metadata/.plugins/org.eclipse.jdt.core/1901139422.index
/.metadata/.plugins/org.eclipse.jdt.core/2016816873.index
/.metadata/.plugins/org.eclipse.jdt.core/2061864510.index
/.metadata/.plugins/org.eclipse.jdt.core/2092983653.index
/.metadata/.plugins/org.eclipse.jdt.core/2100451869.index
/.metadata/.plugins/org.eclipse.jdt.core/2152383825.index
/.metadata/.plugins/org.eclipse.jdt.core/2181674107.index
/.metadata/.plugins/org.eclipse.jdt.core/2263951769.index
/.metadata/.plugins/org.eclipse.jdt.core/2313490770.index
/.metadata/.plugins/org.eclipse.jdt.core/2370916540.index
/.metadata/.plugins/org.eclipse.jdt.core/2420669828.index
/.metadata/.plugins/org.eclipse.jdt.core/2451432619.index
/.metadata/.plugins/org.eclipse.jdt.core/2522437184.index
/.metadata/.plugins/org.eclipse.jdt.core/2529249669.index
/.metadata/.plugins/org.eclipse.jdt.core/2655816548.index
/.metadata/.plugins/org.eclipse.jdt.core/2701578752.index
/.metadata/.plugins/org.eclipse.jdt.core/2716720738.index
/.metadata/.plugins/org.eclipse.jdt.core/272864675.index
/.metadata/.plugins/org.eclipse.jdt.core/2769388304.index
/.metadata/.plugins/org.eclipse.jdt.core/2806968342.index
/.metadata/.plugins/org.eclipse.jdt.core/2855188550.index
/.metadata/.plugins/org.eclipse.jdt.core/2855487329.index
/.metadata/.plugins/org.eclipse.jdt.core/28745085.index
/.metadata/.plugins/org.eclipse.jdt.core/2905891859.index
/.metadata/.plugins/org.eclipse.jdt.core/2947387501.index
/.metadata/.plugins/org.eclipse.jdt.core/3049205093.index
/.metadata/.plugins/org.eclipse.jdt.core/3065952663.index
/.metadata/.plugins/org.eclipse.jdt.core/308305555.index
/.metadata/.plugins/org.eclipse.jdt.core/3153670428.index
/.metadata/.plugins/org.eclipse.jdt.core/3158676186.index
/.metadata/.plugins/org.eclipse.jdt.core/3188013260.index
/.metadata/.plugins/org.eclipse.jdt.core/3219196794.index
/.metadata/.plugins/org.eclipse.jdt.core/3260060636.index
/.metadata/.plugins/org.eclipse.jdt.core/3267232986.index
/.metadata/.plugins/org.eclipse.jdt.core/3282543444.index
/.metadata/.plugins/org.eclipse.jdt.core/3302469933.index
/.metadata/.plugins/org.eclipse.jdt.core/3338120391.index
/.metadata/.plugins/org.eclipse.jdt.core/3393715020.index
/.metadata/.plugins/org.eclipse.jdt.core/3395361780.index
/.metadata/.plugins/org.eclipse.jdt.core/3420114164.index
/.metadata/.plugins/org.eclipse.jdt.core/3441990457.index
/.metadata/.plugins/org.eclipse.jdt.core/345168067.index
/.metadata/.plugins/org.eclipse.jdt.core/3463918691.index
/.metadata/.plugins/org.eclipse.jdt.core/3470843535.index
/.metadata/.plugins/org.eclipse.jdt.core/3481112751.index
/.metadata/.plugins/org.eclipse.jdt.core/3509588439.index
/.metadata/.plugins/org.eclipse.jdt.core/3592344451.index
/.metadata/.plugins/org.eclipse.jdt.core/3620282482.index
/.metadata/.plugins/org.eclipse.jdt.core/3623752928.index
/.metadata/.plugins/org.eclipse.jdt.core/3630550190.index
/.metadata/.plugins/org.eclipse.jdt.core/3642468580.index
/.metadata/.plugins/org.eclipse.jdt.core/3671395973.index
/.metadata/.plugins/org.eclipse.jdt.core/3776963203.index
/.metadata/.plugins/org.eclipse.jdt.core/3786919835.index
/.metadata/.plugins/org.eclipse.jdt.core/3843310183.index
/.metadata/.plugins/org.eclipse.jdt.core/3884026195.index
/.metadata/.plugins/org.eclipse.jdt.core/3905962446.index
/.metadata/.plugins/org.eclipse.jdt.core/3992899649.index
/.metadata/.plugins/org.eclipse.jdt.core/4000168888.index
/.metadata/.plugins/org.eclipse.jdt.core/4035122844.index
/.metadata/.plugins/org.eclipse.jdt.core/4210026938.index
/.metadata/.plugins/org.eclipse.jdt.core/4236034924.index
/.metadata/.plugins/org.eclipse.jdt.core/4257598048.index
/.metadata/.plugins/org.eclipse.jdt.core/4257653563.index
/.metadata/.plugins/org.eclipse.jdt.core/462681493.index
/.metadata/.plugins/org.eclipse.jdt.core/541195983.index
/.metadata/.plugins/org.eclipse.jdt.core/58343284.index
/.metadata/.plugins/org.eclipse.jdt.core/669078347.index
/.metadata/.plugins/org.eclipse.jdt.core/739883508.index
/.metadata/.plugins/org.eclipse.jdt.core/80248028.index
/.metadata/.plugins/org.eclipse.jdt.core/808646699.index
/.metadata/.plugins/org.eclipse.jdt.core/841236959.index
/.metadata/.plugins/org.eclipse.jdt.core/882534919.index
/.metadata/.plugins/org.eclipse.jdt.core/922193478.index
/.metadata/.plugins/org.eclipse.jdt.core/95452088.index
/.metadata/.plugins/org.eclipse.jdt.core/956393680.index
/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
/.metadata/.plugins/org.eclipse.m2e.core/backend.lifecyclemapping
/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
/.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
/.metadata/.plugins/org.eclipse.m2e.jdt/backend.container
/.metadata/.plugins/org.eclipse.m2e.logback/0.log
/.metadata/.plugins/org.eclipse.m2e.logback/logback.2.6.0.20240217-1525.xml
/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
/.metadata/.plugins/org.eclipse.ui.intro/introstate
/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
/.metadata/version.ini
